/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.brtp-cyan {
  border-top: 4px solid #45d3d3;
}

.brtp-red {
  border-top: 4px solid #ea5353;
  margin-top: 5rem;
}

.brtp-orange {
  border-top: 4px solid #fcaf4a;
}

.brtp-blue {
  border-top: 4px solid #549ef2;
}

.transy {
  transform: translateY(3rem);
}

body {
  border: 2px solid red;
  max-width: 1440px;
  font-family: "Poppins", sans-serif;
  font-size: 0.9375rem;
  border-color: #a3a5ae;
  background-color: #fafafa;
  margin: 0 auto;
  min-height: 100vh;
}
@media (min-width: 50rem) {
  body {
    padding-top: 5.3125rem;
  }
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  margin: 1rem auto;
  min-height: 20%;
}
@media (min-width: 50rem) {
  h1 {
    font-size: 2.5rem;
  }
}
h1 span {
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 1.2;
}
h1 span:last-child {
  font-weight: 600;
}
@media (min-width: 50rem) {
  h1 span {
    font-size: 2.5rem;
  }
}

header p {
  font-size: 1rem;
  font-weight: 200;
  text-align: center;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(1440px / 2.5);
  padding: 0 0.5rem;
}

.container {
  margin: 0 auto;
  padding: 0 1.8rem;
}

.centered-txt {
  text-align: center;
}

.cards {
  padding: 0 1rem;
  margin: 0 auto 2rem auto;
}
@media (min-width: 50em) {
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    grid-gap: 0.8rem;
    padding: 0 5rem;
    margin: 0 auto;
  }
}

.card {
  min-height: 20%;
  background-color: #fafafa;
  margin: 1.6rem auto;
  border-radius: 5px;
  padding: 1.7rem 1.5rem 0 1.7rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}
.card h2 {
  font-size: 1.2rem;
}
.card p {
  max-width: 17.1875rem;
  font-size: 0.8rem;
  font-weight: 200;
}
.card img {
  display: inline;
}
.card__image {
  width: 20%;
  height: auto;
  margin-top: 2em;
  margin-left: auto;
  margin-right: 1em;
  padding-bottom: 1em;
}
@media (min-width: 50em) {
  .card {
    margin: 0;
  }
  .card:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1;
    transform: translateY(7rem);
  }
  .card:nth-child(2) {
    grid-column: 2/2;
    grid-row: 1;
  }
  .card:nth-child(3) {
    grid-column: 2/2;
    grid-row: 2;
    transform: translateY(1rem);
  }
  .card:nth-child(4) {
    grid-column: 3/3;
    grid-row: 1;
    transform: translateY(7rem);
  }
}

footer {
  padding: 1rem;
}

/*# sourceMappingURL=main.css.map */
