body {
    // border: 2px solid red;
    max-width: $max-width;
    font-family: $font-family;
    font-size: $body-font-size;
    border-color: $grayish-blue;
    background-color: $light-gray;
    margin: 0 auto;

    min-height: 100vh;
    // put this in a media query

    @media (min-width: 50rem) {
        & {
            padding-top: 5.3125rem;
        }
    }
}

h1 {
    font-family: $font-family;
    font-size: 1.5rem;
    // font-size: clamp(
    // var(--fluid-type-min, 1rem),
    // calc(1rem + var(--fluid-type-target, 3vw)),
    // var(--fluid-type-max, 1.3rem)
//   );
    margin: 1rem auto;
    min-height: 20%;

    @media (min-width: 50rem) {
        & {
            font-size: 2.5rem;
        }
    }

    & span {
        display: block;
        font-family: $font-family;
        font-size: 1.5rem;
        font-weight: 200;
        line-height: 1.2;

        &:last-child {
            font-weight: 600;
        }

        @media (min-width: 50rem) {
            & {
                font-size: 2.5rem;
            }
        }
    }
}

header p {
    // border: 1px solid red;
    font-size: 1rem;
    font-weight: 200;
    text-align: center;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    // Check this tomorrow
    max-width: calc(1440px / 2.5);
    padding: 0 0.5rem;
}

.container {
    // border: 1px solid blue;
    margin: 0 auto;
    padding: 0 1.8rem;

    
}

.centered-txt {
    text-align: center;
}

// this class is sort of not doing anything
// AFAIK I had deleted the 
.cards {
    // border: 5px solid red;
    padding: 0 1rem;
    margin: 0 auto 2rem auto;

    @media (min-width: 50em) {
        & {
            // border: 1px solid red;
            display: grid;
            //grid-template-columns: repeat(3, minmax(350px, 375px));
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            grid-template-rows: 1fr 1fr;
            justify-content: center;
            grid-gap: .8rem;

            padding: 0 5rem;
            margin: 0 auto;
        }

        
    }
}



.card {
    // border: 1px solid purple;
    min-height: 20%;
    // max-width: 350px;
    background-color: $light-gray;
    margin: 1.6rem auto;
    border-radius: 5px;
    padding: 1.7rem 1.5rem 0 1.7rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);

    & h2 {
        font-size: 1.2rem;
        // padding: 1rem 1.5rem 0 1.5rem;
    }

    & p {
        // border:1px solid red;
        max-width: 17.1875rem;
        font-size: 0.8rem;
        font-weight: 200;
        // padding: 1rem 1.5rem 0 1.5rem;
    }

    & img {
        display: inline;
        // margin-left: auto;
    }

    &__image {
        width: 20%;
        height: auto;
        // text-align: right;
        // padding: 1em;
        margin-top: 2em;
        margin-left: auto;
        margin-right: 1em;
        padding-bottom: 1em;
    }

    // I am removing the margin from the card
    // because it is now a grid
    @media (min-width: 50em) {
        & {
            margin: 0;
        }

        &:nth-child(1) {
            // Supervisor
            grid-column: 1/2;
            grid-row: 1;
            transform: translateY(7rem);
        }

        &:nth-child(2) {
            //Team Builder
            grid-column: 2/2;
            grid-row: 1;
        }

        &:nth-child(3) {
            //Karma
            grid-column: 2/2;
            grid-row: 2;
            transform: translateY(1rem);
        }

        &:nth-child(4) {
            //Calculator
            grid-column: 3/3;
            grid-row: 1;

            transform: translateY(7rem);
        }
    }
}

footer {
    // margin-top: 2rem;
    // border: 1px solid purple;
    // position:absolute;
    // bottom:0;
    // left:0;
    padding: 1rem;
}