.brtp-cyan {
    border-top: 4px solid $cyan;
}

.brtp-red {
    border-top: 4px solid $red;
    margin-top: 5rem;
}

.brtp-orange {
    border-top: 4px solid $orange;
}

.brtp-blue {
    border-top: 4px solid $blue;
}
